{% block head_style %}
    <link rel="stylesheet" href="/css/base.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!--slider-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock head_style %}
<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="col-xs-2 left">
            <a href="{{ path('homepage') }}"><img  class="logo" src="img/instastellar_header.png"/></a>
        </div>

        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('info') }}"><p>Руководство пользователя</p></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><p>Выход</p></a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-2 left">
                <div class="navigation">
                    <ul class="nav">
                        <li id="accounts"><a href="{{ path('accounts') }}"><span class="glyphicon glyphicon-user"></span> Мои Аккаунты</a></li>
                        <li disabled id="accounts"><a><font style="color: darkgray;"><span class="glyphicon glyphicon-signal"></span> Аналитика</font></a></li>
                        <li id="info"><a href="{{ path('info') }}"><span class="glyphicon glyphicon-cog"></span> Настройки</a></li>
                        <li id="purchase"><a><font style="color: darkgray;"><span class="glyphicon glyphicon-star"></span> Покупка</font></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-md-10 content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>

{% block javascripts %}{% endblock %}
