{% block head_style %}
    <link rel="stylesheet" href="/css/base.css">
    <!--slider-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/roboto-condensed.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock head_style %}
<script>
    $( document ).ready(function(){
        $('.wrapper').css('min-height',$(window).height());
        {% set _route =  app.request.get('_route') %}
        {% if _route == 'accounts' %}
            $('#accounts').addClass('active');
        {% elseif _route == 'analytic' %}
            $('#analytic').addClass('active');
        {% elseif _route == 'fos_user_change_password' %}
            $('#info').addClass('active');
        {% elseif _route == 'purchase' %}
            $('#purchase').addClass('active');
        {% endif %}
        $('.content').css('min-height',$(window).height() - 51 )

    })

</script>
<head>
    <title>Instastellar</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/title.ico" />
    <script type="text/javascript" src="http://www.walletone.com/merchant/widget/1.0.0/script.js"></script>
</head>
<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="col-xs-2 left">
            <a href="{{ path('homepage') }}"><img  class="logo" src="/img/instastellar_header.png"/></a>
        </div>

        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('info') }}"><p>Руководство пользователя</p></a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><p>Выход</p></a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-2 left">
                <div class="navigation">
                    <ul class="nav left-menu">
                        <li id="accounts"><a href="{{ path('accounts') }}"><span class="glyphicon glyphicon-user"></span> Аккаунты</a></li>
                        <li id="analytic"><a href="{{ path('analytic') }}"><span class="glyphicon glyphicon-signal"></span> Аналитика</a></li>
                        <li id="info"><a href="{{ path('fos_user_change_password') }}"><span class="glyphicon glyphicon-cog"></span> Настройки</a></li>
                        <li id="purchase"><a href="{{ path('purchase') }}"><span class="glyphicon glyphicon-star"></span> Покупка</a></li>
                    </ul>

                </div>
                {% if user is defined %}
                <div style="position: relative;"><h4 style="position: fixed;bottom: 15px;">
                        {% set valid = user.validUntil | date('U') - "now" | date('U') %}
                        {% if valid | date("d") > 1 %}
                            Осталось: {{ valid | date("j") }} дн.
                        {% elseif valid | date("h") > 0 %}
                            Осталось: {{ valid | date("G") }} ч.
                        {% else %}
                            Аккаунт потрачен
                        {% endif %}</h4>
                </div>
                {% endif %}
            </div>

            <div class="col-xs-8 col-md-10 content" style="min-height: 500px;">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-sm" id='flash_modal' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">Новое сообщение<a class="anchorjs-link" href="#mySmallModalLabel"><span class="anchorjs-icon"></span></a></h4>
                </div>
                <div class="modal-body">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        <p>{{ flashMessage }}</p>
                    </div>
                    {% if loop.last %}
                        <script>
                            $( document ).ready(function(){
                                $('#flash_modal').modal('show');
                            })
                        </script>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter29905164 = new Ya.Metrika({id:29905164,
                    webvisor:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29905164" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% block javascripts %}{% endblock %}
