{% extends 'landing_base.html.twig' %}
{% block content %}
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            {{ form_start(form) }}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Обратная связь</h4>
            </div>
    {% if is_sent == 1 %}
        <script>
            $( document ).ready(function() {
                $('#myModal').modal('show')
            });
        </script>
            <div class="modal-body" style="padding: 30px;">
                <div class="form-group" style="padding-top: 15px;">
                    <label for="timezone">Спасибо! <br/>Мы свяжемся с Вами в ближайшее время.</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
    {% else %}

        {{ form_start(form) }}

            <div class="modal-body" style="padding: 30px;">

                <div class="form-group" style="padding-top: 15px;">
                    <label for="timezone">Имя:</label>
                    {{ form_widget(form.message) }}
                </div>
                <div class="form-group" style="padding-top: 15px;">
                    <label for="timezone">Email:</label>
                    {{ form_widget(form.tmp) }}
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>

            {{ form_end(form) }}
    {% endif %}


        </div>
    </div>
</div>
<div style="background-image: url('/img/background_space.jpg'); background-size: cover;">
<section id="main">
    <div class="container" id="brief">
        <div class="row" style="padding-top: 100px">
            <div class="col-lg-6">
                <a><img  class="rocket img-responsive" src="img/main.png"/></a>
            </div>
            <div class="col-lg-6">
                <a><img  class="logo img-responsive " src="img/instastellar_header.png"/></a>
                <p style="font-size: 24px;padding-top: 32px; color:#ffffff">Сервис для персональной поддержки в Instagram</p>
                <p>Вы SMM специалист и занимаетесь раскруткой в instagram?</p>
                <p>Недавно зарегистрировались и не знаете что к чему?</p>
                <p>Вы ведете Instagram-блог и хотите больше подписчиков?</p>
                <p>Свяжитесь с нами, и получите консультацию от нашего специалиста. Первая косультация бесплатно!</p>
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-start"><p style="padding-top:5px;">Обратная связь</p></button>
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}