{% block head_style %}
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/roboto-condensed.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing_base.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/collapse.js"></script>
{% endblock head_style %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Instastellar</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/title.ico" />
</head>

<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="border: none;">
          <!--
        <div class="container" style="border: none; padding-left:0">
        -->
        <div class="col-xs-9 col-sm-12 col-md-3 col-lg-2">
            <a href="{{ path('homepage') }}#main" style="padding-right: 0;"><img class="logo" src="/img/instastellar_header.png"/></a>
        </div>

        <div class="nav navbar-nav col-sm-12 col-md-9 col-lg-10">
                <button type="button" class="navbar-toggle collapsed col-xs-12" style="width:auto; margin-top:0;" data-toggle="collapse" data-target="#collapsive-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse col-xs-12 col-lg-12" style="width:100%;" id="collapsive-nav">
                    <ul class="nav navbar-nav col-lg-10" style="border:none;">
                        <li><a href="{{ path('homepage') }}#main"><p>Главная</p></a></li>
                        <li><a href="{{ path('homepage') }}#poss"><p>Возможности</p></a></li>
                        <li><a href="{{ path('homepage') }}#promote"><p>Как раскрутить</p></a></li>
                        <li><a href="{{ path('homepage') }}#why"><p>Почему мы?</p></a></li>
                        <li><a href="{{ path('homepage') }}#contacts"><p>Контакты</p></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right col-lg-1 col-lg-offset-1" style="border:none;">
                        <li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('accounts') }}"><p>Панель управления</p></a>
                        {% else %}
                            <a href="{{ path("fos_user_security_login")}}"><p>Войти</p></a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        <!--
        </div>
        -->
    </nav>
</header>
{% block content %}
{% endblock %}
{% block footer %}
    <!-- Navbar onclick collapser -->
    <script type="text/javascript">
        $(function() {
            $('.nav a').on('click', function(){
                if($('.navbar-toggle').css('display') !='none'){
                    $(".navbar-toggle").trigger( "click" );
                }
            });
        });
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter29905164 = new Ya.Metrika({id:29905164,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>

    <noscript><div><img src="//mc.yandex.ru/watch/29905164" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}