{% block head_style %}
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/roboto-condensed.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing_base.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock head_style %}
<head>
    <title>Instastellar</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/title.ico" />
</head>

<header>
    <nav class="navbar navbar-default navbar-fixed-top col-xs-12" style="border: none;">
            <a class="col-sm-12 col-md-3 col-lg-4" href="{{ path('homepage') }}#main"><img  class="logo" src="/img/instastellar_header.png"/></a>
        <!--
        <div class="container" style="border: none; padding-left:0">
        -->
            <div class="nav navbar-nav col-sm-12 col-md-9 col-lg-8">
                 <ul class="nav navbar-nav" style="border:none;">
                    <li><a href="{{ path('homepage') }}#main"><p>Главная</p></a></li>
                    <li><a href="{{ path('homepage') }}#poss"><p>Возможности</p></a></li>
                    <li><a href="{{ path('homepage') }}#promote"><p>Как раскрутить</p></a></li>
                    <li><a href="{{ path('homepage') }}#why"><p>Почему мы?</p></a></li>
                    <li><a href="{{ path('homepage') }}#contacts"><p>Контакты</p></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="border:none;">
                    <li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('accounts') }}"><p>Панель управления</p></a>
                    {% else %}
                        <a href="{{ path("fos_user_security_login")}}"><p>Войти</p></a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        <!--
        </div>
        -->
    </nav>
</header>
{% block content %}
{% endblock %}
{% block footer %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter29905164 = new Ya.Metrika({id:29905164,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>

    <noscript><div><img src="//mc.yandex.ru/watch/29905164" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}