{% block head_style %}
    <link rel="stylesheet" href="/css/landing_base.css">
    <link rel="stylesheet" href="/css/roboto-condensed.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
{% endblock head_style %}

<header>
    <title>Instastellar</title>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink" style="border: none;">
        <div class="col-xs-2 left">
            <a href="{{ path('homepage') }}#main"><img  class="logo" src="/img/instastellar_header.png"/></a>
        </div>

        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}#main"><p>Главная</p></a></li>
                <li><a href="{{ path('homepage') }}#poss"><p>Возможности</p></a></li>
                <li><a href="{{ path('homepage') }}#promote"><p>Как раскрутить</p></a></li>
                <li><a href="{{ path('homepage') }}#why"><p>Почему мы?</p></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('accounts') }}"><p>Панель управления</p></a></li>
                {% else %}
                    <!--<li><a href="{{ path("fos_user_security_login")}}"><p>Войти</p></a></li>-->
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
{% block footer %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter29905164 = new Ya.Metrika({id:29905164,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/29905164" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}