{% extends 'base.html.twig' %}

{% block body %}

    {% if task.byUsername == 1 %}
        <h1>Подписка по ID</h1>
    {% else %}
        {% if task.type == 0 %}
            <h1>Подписка по тэгам</h1>
        {% elseif task.type == 1 %}
            <h1>Лайкинг по тэгам</h1>
        {% elseif task.type == -1 %}
            <h1>Отписка</h1>
        {% endif %}
    {% endif %}

<div class="container">

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h3>Прогресс:</h3>
            <div class="progress">
                {% if task.actions is not empty %}
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ (task.actions | length) / (task.count) *100 }}%">
                    {{ task.actions | length }} / {{ task.count }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

        </div>
    </div>

    {% if task.byUsername == 1 or task.type == 0 %}

        <h3>Вы подписались на:</h3>
        {% for action in task.actions | reverse %}

            {% if action.resource_id %}
                <p>{{ action.resource_id }}
                    {% if action.resource_id %}
                        <a href="https://instagram.com/{{ action.resource_id }}">+</a>
                    {% endif %}
                </p>
            {% endif %}

        {% endfor %}

    {% elseif task.type == 1 %}
        <h3>Вы лайкнули:</h3>
        {% for action in task.actions | reverse %}

            {% if action.username %}
                <p>{{ action.username }}
                    {% if action.resourceId %}
                        <a href="{{action.resourceId}}">+</a>
                    {% endif %}
                </p>
            {% endif %}

        {% endfor %}

    {% endif %}

</div>

{% endblock %}

