{% extends 'base.html.twig' %}

{% block body %}

    {% if task.type == 0 %}
        <h1>Подписка по ID</h1>
    {% elseif task.type == 10 %}
        <h1>Подписка по тэгам</h1>
    {% elseif task.type == 11 %}
        <h1>Лайкинг по тэгам</h1>
    {% elseif task.type == 3 %}
        <h1>Отписка</h1>
    {% endif %}

<div class="container">

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h3>Прогресс:</h3>
            <div class="progress">
                {% if task.actions is not empty %}
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ (task.actions | length) / (task.count) *100 }}%">
                    {{ task.actions | length }} / {{ task.count }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

        </div>
    </div>

    {% if task.type in [0, 10] %}

        <h3>Вы подписались на:</h3>
        {% for action in task.actions | reverse %}

            {% if action.resourceId %}
                <p>{{ action.resourceId }}
                    <a href="https://instagram.com/{{ action.resourceId }}" target="_blank">+</a>
                </p>
            {% endif %}

        {% endfor %}

    {% elseif task.type in [1, 11] %}
        <h3>Вы лайкнули:</h3>
        {% for action in task.actions | reverse %}
            {% if action.resourceId %}
                <p><a href="{{action.resourceId}}" target="_blank">{{ action.resourceId }}</a></p>
            {% endif %}
        {% endfor %}

    {% elseif task.type == 3 %}
        <h3>Вы отписались от:</h3>
    {% for action in task.actions | reverse %}
        {% if action.resourceId %}
            <p>{{ action.resourceId }}
                <a href="https://instagram.com/{{ action.resourceId }}" target="_blank">+</a>
            </p>
        {% endif %}
    {% endfor %}
    {% endif %}

</div>

{% endblock %}

