{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Пользователь</th>
            <th>Страница</th>
        </tr>

    <p>Всего {{ actions | length }}</p>
    {% for action in actions %}
        <tr>
            <td>
                {% if action.username %}
                {{ action.username }}
                {% endif %}
            </td>
            <td>
                {% if action.username %}
                    {{ dump(action) }}
                    <a href="https://instagram.com/{{ action.username }}">+</a>
                    {{ action.responce }}
                {% endif %}
                {% if action.resourceId %}
                    <a href="{{action.resourceId}}">res</a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}

    </table>

{% endblock %}

