{% extends 'base.html.twig' %}
{% block body %}

    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Аналитика</h1>
            <p>Работающих задач: {{ tasks }}</p>
            <p>Про аккаунтов: {{ acc_pro }}</p>
            <p>Бесплатных аккаунтов: {{ acc_free }}</p>
            <div id="container" style="padding-top: 30px"></div>
            <div id="container_proxy" style="padding-top: 30px"></div>
        </div>
    </div>
        <script>
       $(function () {
            $('#container').highcharts({
                title: {
                    text: 'Кумулятивный график всего на свете'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                chart: {
                    type: 'spline',
                    zoomType: 'x',
                },
                plotOptions: {
                    series: {
                        cursor: 'Dot',
                    },
                },
                series: [
                    {
                        marker: {
                            symbol: 'circle'
                        },
                    name: 'С ошибкой',
                    data: [{{ tasks_failed | join(', ') }}]
                },
                    {
                        marker: {
                            symbol: 'circle'
                        },
                        name: 'Остановленнные',
                        data: [{{ tasks_stopped | join(', ') }}]
                    },
                    {
                        marker: {
                            symbol: 'circle'
                        },
                        name: 'Выполненные & перевыпо-ые ',
                        data: [{{ tasks_done | join(', ') }}]
                    }]
            });

           $('#container_proxy').highcharts({
               title: {
                   text: 'Нагрузка на прокси за неделю'
               },
               xAxis: {
                   type: 'datetime',
                   dateTimeLabelFormats: { // don't display the dummy year
                       month: '%e. %b',
                       year: '%b'
                   },
                   title: {
                       text: 'Date'
                   }
               },
               chart: {
                   type: 'spline',
                   zoomType: 'x',
               },
               plotOptions: {
                   series: {
                       cursor: 'Dot',
                   },
               },
               series: [
                   {% for k,p in proxy %}
                   {
                       marker: {
                           symbol: 'circle'
                       },
                       name:  '{{ k }}',
                       data: [{{ p | join(', ') }}]
                   },
                   {% endfor %}
               ]
           });
        });
    </script>
{% endblock %}