{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

    <h2>Настройки времени</h2>
        {{ form_start(form) }}

        <div classs="form-group" style="padding-top: 15px;">
            <label for="timezone">Временная зона:</label>
            {{ form_widget(formTz.timezone) }}
            {{ form_errors(formTz) }}
        </div>
        <input style="margin-top: 15px;" class="btn btn-success" type="submit" value="Изменить" />
        {{ form_end(formTz) }}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" >
    {{ form_start(form) }}
        <h2>Изменение пароля</h2>

    <div classs="form-group" style="padding-top: 15px;">
        {{ form_errors(form.current_password) }}
        <label for="username">Текущий пароль:</label>
        {{ form_widget(form.current_password) }}
    </div>
    <div classs="form-group" style="padding-top: 15px;">
        {{ form_errors(form.plainPassword.first) }}
        <label for="email">Пароль:</label>
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div classs="form-group" style="padding-top: 15px;">
        {{ form_errors(form.plainPassword.second) }}
        <label for="email">Повторите пароль:</label>
        {{ form_widget(form.plainPassword.second) }}
    </div>
        <input style="margin-top: 15px;" class="btn btn-success" type="submit" value="Изменить" />
    {{ form_end(form) }}
</form>
{% endblock %}