{% extends 'tasks/task_base.html.twig' %}
{% block task_body %}

    <h1>Добавление задачи по расписанию</h1>

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-5">
            {% for h in history %}
            {% endfor %}

            {{ form_start(form) }}
            {{ form_row(form.runAt) }}
            <div class="row">

                <div class="col-md-offset-4">
                    <div class="scheduler">
                        {% for d in form.days %}
                            <div class="row">
                                <div class="item">
                                    {{ form_widget(d) }}
                                    {{ "now" |date_modify(("+" ~ loop.index0 ~ " day"))| date("d.m.Y", user.timezone) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group" style="padding-top: 20px">
                        <div class="col-sm-8">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-default" onclick="goBack()">Назад</button>
                                <button class="btn btn-primary pull-right">Добавить</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>


        </div>
        <div class="col-md-5 col-md-offset-1">
            {% include "/manager/scheduler_plan.html.twig" %}
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <style>
        .form-control {
            width: 60%;
        }

        .form-group .btn-primary {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .item {
            background-color: bisque;
            width: 120px;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 8px;
        }

        input[type=checkbox] {
            margin-top: 8px;
            margin-left: 14px;
        }

        .row {
            margin-left: 0;
        }
    </style>
{% endblock %}