{% extends 'base.html.twig' %}
{% block body %}
<!--
<div class="btn-group" role="group" aria-label="...">
    <button id="f_btn" type="button" class="btn btn-default">Фоловинг</button>
    <button id="l_btn" type="button" class="btn btn-default">Лайкинг</button>
    <button id="u_btn" type="button" class="btn btn-default">Отписка</button>
</div>
-->
    <div class="pull-right">
        <h1>
            <img src="{{ account.picture }}" style="width: 40px;height: 40px;">
            {{ account.username }}
        </h1>
        <div class="btn-group pull-right">
            <a href="{{ path("add_tasks", {'id' :account.id, 'type' : 0 })}}" type="button" class="btn btn-default" title="Добавление задачи по ID"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{{ path('add_tasks', {'id': account.id, 'type' : 11 }) }}" type="button" class="btn btn-default" title="Лайкинг по тэгам"><span class="glyphicon glyphicon-heart"></span></a>
            <a href="{{ path('unfollow',  {'id': account.id }) }}" type="button" class="btn btn-default" title="Отписка"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
    </div>

    {% block task_body %}{% endblock %}

    <style>
        .btn-primary{
            margin-top: 20px;
            margin-bottom: 50px;
        }

    </style>
{% endblock %}