{% extends 'base.html.twig' %}
{% block body %}

    <div class="pull-right">
        <h1>
            <img src="{{ account.picture }}" style="width: 40px;height: 40px;">
            {{ account.username }}
        </h1>
        <div class="btn-group pull-right">
            <a href="{{ path("add_task_follow_by_id", {'id' : account.id })}}" type="button" class="btn btn-default" title="Добавление задачи по ID"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{{ path('add_task_like_by_tags', {'id': account.id }) }}" type="button" class="btn btn-default" title="Лайкинг по тэгам"><span class="glyphicon glyphicon-heart"></span></a>
            <a href="{{ path('add_task_unfollow',  {'id': account.id }) }}" type="button" class="btn btn-default" title="Отписка"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
    </div>

    {% block task_body %}{% endblock %}

    <style>
        .btn-primary{
            margin-top: 20px;
            margin-bottom: 50px;
        }
        p{
            padding-top: 0px;
        }
    </style>
{% endblock %}