{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ваша ссылка партнёра: <font style="color:e90a71;">http://instastellar.su/?ref={{ id }}</font></h1>
    <h3>Вы привели <font style="color:e90a71;">{{ refs_count }}</font> пользователей</h3>
    <h3>Ваша ставка: <font style="color:e90a71;">{{ percent }}%</font></h3>
    {% if payments | length > 0 %}
        {% for payment in payments %}
            {% if payment.isWithdraw == 1 %}
                <div><p>Дата: {{ payment.date|date("Y-m-d H:m:i") }}.  Снято Вами: {{ payment.amount }} р.</p></div>
            {% else %}
                <div><p>Дата: {{ payment.date|date("Y-m-d H:m:i") }}.  Начислено с покупки реферала: {{ payment.amount }} р.</p></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div><p>Ваши рефералы пока не делали покупок :(</p></div>
    {% endif %}

    <h1></h1>
    <p>Вы можете вывести деньги или потратить их на покупку тарифа на нашем сервисе.</p>
    <p>Подробнее с партнёрской программой instaStellar Вы можете ознакомиться <a href="{{ path('additional_info') }}#partnership"><font style="color:e90a71!important;">здесь</font></a>. </p>
{% endblock %}

