{% extends 'base.html.twig' %}
{% block body %}
    <h1>Менеджер</h1>
    <div class="col-md-6 col-md-offset-1" style="padding-top: 20px">
     <form action="{{ path('manager') }}" method="get" style="padding-top: 40px">
                <select name="id">
                    {% for account in accounts %}
    {% if account.id == app.request.get('id') %}
        <option value="{{ account.id }}" selected>{{ account.username }}</option>
    {% else %}
        <option value="{{ account.id }}">{{ account.username }}</option>
    {% endif %}
{% endfor %}
                </select>
                <button type="submit">Посмотреть</button>
            </form>
{% include "/manager/scheduler_plan.html.twig" %}
    </div>
     <div class="col-md-4 col-md-offset-1">
            <p>
                По достижении количества подписок 7000-7500 Вы больше не сможете подписываться на людей(Инстаграм блокирует подписку), необходимо осуществлять отписку.
            </p>
            <p>
                Мы советуем чередовать подписку и отписку для того, чтобы продвижение аккаунта осуществлялось непрерывно.
            </p>

        </div>
    </div>
{% endblock %}