{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}


<div class="modal-dialog" style="padding-top: 100px;
  max-width: 400px;">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h1>Восстановление аккаунта</h1>
        </div>
        <div class="modal-body">
            <form class="form-horizontal text-center"  action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                {{ form_start(form) }}
                <div style="padding-top: 15px;">
                    {{ form_errors(form.plainPassword.first) }}
                    <label for="email">Новый пароль:</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div style="padding-top: 15px;">
                    {{ form_errors(form.plainPassword.second) }}
                    <label for="email">Повторите пароль:</label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>

                {{ form_errors(form) }}
                <input style="margin-top: 15px;" class="btn btn-success"  type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                {{ form_end(form) }}
                <div>
            </div>
        </form>
        </div>

    </div>
</div>
{% endblock %}

