{% extends 'tasks/follow/nav.html.twig' %}

{% block task %}
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-5 col-md-offset-1">
        {{ form_start(form) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.count) }}
            {{ form_row(form.speed) }}
            {{ form_widget(form.optionAddLike) }}
            {{ form_widget(form.optionFollowClosed) }}
            {{ form_widget(form.optionCheckUserFromDB) }}
            <div class="checkbox">
                <label>
                    {% if user.isPro == false %}
                        <input type="checkbox" disabled id="isScheduleTask" name="isScheduleTask">
                    {% else %}
                        <input type="checkbox" id="isScheduleTask" name="isScheduleTask">
                    {% endif %}
                    Задание по расписанию( при выборе этой опции вы попадете
                    на новую страницу где выберете время и дни когда будет создаваться задача)
                    {% if user.isPro == false %}
                        [только для платных аккаунтов]
                    {% endif %}
                </label>
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse" class="collapsed">

                    <div class="panel-heading">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse" class="collapsed">
                            Доп. опции
                        </a>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse" class="collapsed pull-right">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>

                    </div>
                    </a>

                    <div  id="collapse" class="panel-collapse collapse" style="width: 100%;">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label col-sm-3 optional">
                                    Количество подписчиков
                                </label>
                                <div class="col-sm-3">
                                    <label for="likebytags_optionFollowFrom" class="control-label col-sm-3 optional">
                                        от:
                                    </label>
                                    {{ form_widget(form.optionFollowersFrom) }}
                                </div>
                                <div class="col-sm-3">
                                    <div>
                                        <label for="likebytags_optionFollowTo" class="control-label col-sm-3 optional">
                                            до:
                                        </label>
                                        {{ form_widget(form.optionFollowersTo) }}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-3 optional">
                                    Количество подписок
                                </label>
                                <div class="col-sm-3">
                                    <label for="likebytags_optionFollowFrom" class="control-label col-sm-3 optional">
                                        от:
                                    </label>
                                    {{ form_widget(form.optionFollowFrom) }}
                                </div>
                                <div class="col-sm-3">
                                    <label for="likebytags_optionFollowFrom" class="control-label col-sm-3 optional">
                                        до:
                                    </label>
                                    {{ form_widget(form.optionFollowTo) }}
                                </div>
                            </div>

                            {{ form_row(form.optionStopPhrases) }}
                            {{ form_widget(form.optionFollowClosed) }}

                            {{ form_widget(form.optionHasAvatar) }}

                            <p class="pull-right" style="  font-size: 13px;">*заметьте что доп.опции замедляют парсинг списка</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-md-offset-3">
                    <button class="btn btn-primary pull-right">Добавить</button>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
        <div class="col-md-4 col-md-offset-1">
           <p>
               Для максимально эффективной работы по сбору Целевой Аудитории впишите в поле ввода ID инстаграм аккаунт, схожий по тематике с Вашим (например, ID Вашего конкурента) и Вы будете подписываться на подписчиков этого аккаунта.
           </p>
        </div>
    </div>

    <script>
        $(".follow_by_id").addClass('active')
    </script>

{% endblock %}