{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('add_account') }}">
        <button class="btn btn-success">Добавить аккаунт</button>
    </form>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for account in accounts %}

        <div class="panel-heading">
            <h4 class="panel-title" style="display: inline-block">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ account.id }}">
                    {% if account.username %}
                        {{ account.username | trim(300) }}<br/>
                    {% endif %}
                </a>
            </h4>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" onclick=" $('#account_id').val({{ account.id }});"><span class="glyphicon glyphicon-plus"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
            </div>
            <div  id="collapse{{ account.id }}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Тэги</th>
                            <th>Количество</th>
                            <th>Тип</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    {% for task in account.tasks %}
                        <tr>
                            <td>
                                {% if task.tags %}
                                    <textarea disabled>{{ task.tags }}</textarea>
                                {% endif %}
                            </td>
                            <td>
                                {% if task.count %}
                                    {{ task.count }}
                                {% endif %}
                            </td>
                            <td>
                                {% if task.type == 0 %}
                                    <p>following</p>
                                {% else %}
                                    <p>liking</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if task.status == 2 %}
                                    <p>Работает</p>
                                {% elseif task.status == 3%}
                                    <p>Прервана</p>
                                {% elseif task.status == 0%}
                                    <p>Начинается</p>
                                {% else %}
                                    <p>Выполнена</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if task.status in [0,2] %}
                                    <a href="{{ path('stop_tasks' , {task_id: task.id}) }}">СТОП</a>
                                {% elseif task.type == 1%}
                                    <a href="{{ path('unfollow_tasks' , {task_id: task.id}) }}">Отписаться</a>
                                {% endif %}
                                <a href="{{ path('actions' , {id: task.id}) }}"> Детали</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

    <div id="modal" class="modal fade">
        {{ render(controller('TaskBundle:Default:add')) }}
    </div>
    <script>
        $(#accounts  class="active"
    </script>
{% endblock %}
