{% extends 'base.html.twig' %}

{% block body %}
    <script>
        $( document ).ready(function(){
                $('[data-toggle="popover"]').popover({
                    trigger: 'click'
                    , template: '<div class="popover"><div class="arrow"></div><div class="popover-inner" style="min-width: 150px"><h3 class="popover-title"></h3><div class="popover-content  text-center"><p></p></div></div></div>'
                });


            $('#mainTab').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
            $(function () {
                $('[data-toggle="popover"]').popover()
            })

            setInterval(function(){
                $.ajax({
                    method: "POST",
                    url: "{{ path('tasks_status') }}"
                })
                .done(function( msg ) {
                    for (var k in msg){
                        if (msg.hasOwnProperty(k)) {
                            var text = msg[k]['done'] + '/' + msg[k]['shouldbedone'];
                            var proc = msg[k]['done']/msg[k]['shouldbedone']*100 + '%';
                            $('#prgrs0'+msg[k]['id']).text(text);
                            $('#prgrs1'+msg[k]['id']).text(text);
                            $('#prgrs0'+msg[k]['id']).css('width', proc);
                            $('#prgrs1'+msg[k]['id']).css('width', proc);
                            $('#prgrs0'+msg[k]['id']).parent().prop('title',text)

                            if(msg[k]['status']==1){
                                $('#prgrs0'+msg[k]['id']).addClass('progress-bar-success');
                                $('#prgrs1'+msg[k]['id']).addClass('progress-bar-success');
                                $('#status'+msg[k]['id']).text('Завершено');
                            }
                            else if(msg[k]['status']==4 || msg[k]['status']==3 ){
                                $('#prgrs0'+msg[k]['id']).addClass('progress-bar-danger');
                                $('#prgrs1'+msg[k]['id']).addClass('progress-bar-danger');
                                if(msg[k]['status']==3)
                                    $('#status'+msg[k]['id']).text('Прервана');
                                else
                                    $('#status'+msg[k]['id']).text('Ошибка');
                            }
                            else if(msg[k]['status']==0){
                                var p_proc = msg[k]['parsingStatus']/msg[k]['shouldbedone']*100 + '%';
                                $('#status'+msg[k]['id']).text('Парсинг списка ' + p_proc);
                            }
                            else if(msg[k]['status']==2){
                                $('#status'+msg[k]['id']).text('Выполняется');
                            }
                        }
                    }
                });

            }, 5000);

            /*comments*/
            var showChar = 100;
            var ellipsestext = "...";
            var moretext = "+++";
            var lesstext = "---";
            $('.more').each(function() {
                var content = $(this).html();

                if(content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar-1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext+ ' </span><span class="morecontent"><span>' + h + '</span>  <a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function(){
                if($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        })
    </script>

    <div class="row">
        <div class="col-xs-12" >
            <div style="margin-top: 5px;border: 2px dashed  #0C7ADA;border-radius: 10px;">
            <h2 style="padding-left: 10px;">Текущие обновления</h2>
            <ul>
                <li>Добавлен гео-лайкинг, теперь вы можете ставить сердечки, в зависимости
                    от территории обитания вашей Целевой Аудитории.</li>
                <li>Добавлены различные дополнительные опции для добавления задачи</li>
            </ul>
            <h3 style="padding-left: 10px;">В ближайшее время</h3>
            <ul>
                <li>Создание менеджера задач, с помощью которого можно будет автоматически добавлять задачи по выбранному Вами расписанию. Очень круто.</li>
                <li>Функция "снимок подписок". Мы запомним ваши подписки на случай, если Вы отпишетесь от своих друзей, и предоставим возможность подписаться на них обратно.</li>
            </ul>
            <h4 style="padding-left: 10px; color:grey;">Участившиеся сбои в работе сервиса</h4>
            <ul>
                <li>
                    10.07.2015. Приносим извинения за временные неудобства, связанные с тем, что некоторые задачи перестают выполняться.
                    Возникают технические неполадки со стороны хостинга, поэтому решение проблемы может занять некоторое время.
                </li>
                <li>
                    Если Вы оформили у нас подписку, то дни, в течение которых возникали технические неполадки, будут Вам <font style="color:e90a71;">возмещены</font>. На вашу почту придёт письмо с отчётом об этом.
                </li>
            </ul>
            <h4 style="padding-left:10px;">Спасибо за то, что Вы с нами!</h4>

            </div>
        </div>
    </div>

<a href ="{{ path('add_login_password_account') }}" type="button" class="btn btn-success" style="margin-top: 15px;margin-bottom: 15px;">Добавить аккаунт</a>

<div class="panel-group" id="accordion">
    {% for account in accounts %}
        <div class="panel panel-default">
          <div class="panel-heading">

                <h4 class="panel-title" style="display: inline-block">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ account.id }}" class="collapsed">
                        {% if account.picture %}
                            <img src="{{ account.picture }}" style="width: 24px;height: 24px;">
                        {% endif %}
                        {% if account.username %}
                            {{ account.username }}<br/>
                        {% endif %}

                    </a>
                </h4>

                <div class="btn-group pull-right">
                    <a href="{{ path("add_task_follow_by_id", {'id' :account.id }) }}" type="button" class="btn btn-default" title="Добавление задачи на фоловинг"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{{ path('add_task_like_by_tags', {'id': account.id }) }}" type="button" class="btn btn-default" title="Добавление задачи на лайкинг"><span class="glyphicon glyphicon-heart"></span></a>
                    <a href="{{ path('add_task_unfollow',  {'id': account.id }) }}" type="button" class="btn btn-default" title="Отписка"><span class="glyphicon glyphicon-minus"></span></a>
                    {% if account.tasks | length > 0 %}
                         {% if ((account.tasks | last).status in [2,0]) %}
                            <a href="{{ path('stop_tasks',{'id': (account.tasks | last).id })}}" type="button" class="btn btn-default" title="Остановка задачи"><span class="glyphicon glyphicon-stop"></span></a>
                         {% else %}
                             <a disabled type="button" class="btn btn-default" title="Остановка задачи"><span class="glyphicon glyphicon-stop"></span></a>
                         {% endif %}
                    {% else %}
                        <a disabled type="button" class="btn btn-default" title="Остановка задачи"><span class="glyphicon glyphicon-stop"></span></a>
                    {% endif %}
                    <button title="<p>Удалить аккаунт?</p>" data-content="<a href='{{ path('delete_account', {'id': account.id }) }}' type='button' class='btn btn-danger text-center'>Удалить</a>" data-placement="bottom" data-container="body" data-html="true"  data-toggle="popover" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                </div>

              {% if account.tasks | length >0 %}
                  {%  set task = ''  %}
                  {% if (account.tasks | last).status == 1 %}
                      {%  set task = 'progress-bar-success'  %}
                  {% elseif (account.tasks | last).status in [3,4] %}
                      {%  set task = 'progress-bar-danger'  %}
                  {% endif %}
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="progress" style="margin-bottom: 0px; height: 4px" title="{{ ((account.tasks | last).actions | length)}}/{{ ((account.tasks | last).count) }}">

                              <div class="progress-bar {{ task }}" id="prgrs0{{ account.id }}" role="progressbar" style="width:{{ ((account.tasks | last).actions | length) / ((account.tasks | last).count) * 100}}%">
                              </div>
                          </div>
                      </div>
                  </div>
              {% endif %}
            </div>

            <div  id="collapse{{ account.id }}" class="panel-collapse collapse {% if loop.first %}in{% endif %}" style="width: 100%;">
                <div class="panel-body">

                    <ul class="nav nav-tabs" id="mainTab">
                        <li class="active"><a href="#last{{ account.id }}" data-toggle="tab">Последнее задание</a></li>
                        <li><a href="#history{{ account.id }}" data-toggle="tab">История</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="last{{ account.id }}">
                            {% if account.tasks | length >0  %}

                                <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-4">
                                        <h3><span class="glyphicon glyphicon-flag"></span>  Статус:</h3>
                                        <p id="status{{ account.id }}">
                                        {% if (account.tasks | last).status == 1 %}
                                            Завершено
                                        {% elseif (account.tasks | last).status == 2 %}
                                            Выполняется
                                        {% elseif (account.tasks | last).status == 3 %}
                                            Прервана
                                        {% elseif (account.tasks | last).status == 4 %}
                                            Ошибка
                                        {% elseif (account.tasks | last).status == 0 %}
                                            Парсинг списка {{ (account.tasks | last).parsingStatus / (account.tasks | last).count * 100 }}%
                                        {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-xs-4">
                                        <h3><span class="glyphicon glyphicon-file"></span>  Тип задания:</h3>
                                        {% if (account.tasks | last).type == 0 %}
                                            <p>Подписка по ID</p>
                                        {% elseif (account.tasks | last).type == 10 %}
                                            <p>Подписка по тэгам</p>
                                        {% elseif (account.tasks | last).type == 20 %}
                                            <p>Подписка по списку</p>
                                        {% elseif (account.tasks | last).type == 30 %}
                                            <p>Подписка по гео</p>
                                        {% elseif (account.tasks | last).type == 11 %}
                                            <p>Лайкинг по тэгам</p>
                                        {% elseif (account.tasks | last).type == 31 %}
                                            <p>Гео лайкинг</p>
                                        {% elseif (account.tasks | last).type == 3 %}
                                            <p>Отписка</p>
                                        {% endif %}
                                    </div>

                            </div>

                                <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-4">
                                    <h3><span class="glyphicon glyphicon-time"></span> Задание началось в:</h3>
                                    <p>{{ (account.tasks | last).createdAt | date("H:i d/m/Y", user.timezone) }} {{ user.timezone }}</p> {#date("h:i d/m/Y")#}
                                </div>
                                <div class="col-xs-4 long_tags">
                                    {% if (account.tasks | last).type in [0 ,1] %}
                                        <h3><span class="glyphicon glyphicon-link"></span> ID конкурента:</h3>
                                        <p>{{ (account.tasks | last).tags  }}</p>
                                    {% elseif (account.tasks | last).type in [10,11] %}
                                        <h3><span class="glyphicon glyphicon-link"></span> Тэги:</h3>
                                        <div class="comment more">{{ (account.tasks | last).tags  }}</div>
                                    {% elseif (account.tasks | last).type in [31, 30] %}
                                        <p>Lat;Lng;Радиус</p>
                                        <div class="comment more">{{ (account.tasks | last).tags  }}</div>
                                    {% endif %}
                                </div>
                            </div>

                                <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <h3>Прогресс:</h3>
                                    <div class="progress">
                                        <div class="progress-bar {{ task }}" id="prgrs1{{ account.id }}" role="progressbar" style="width: {{ ((account.tasks | last).actions | length) / ((account.tasks | last).count) * 100}}%">
                                            {{ ((account.tasks | last).actions | length)}}/{{ ((account.tasks | last).count) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-4">
                                    <p><a href="{{ path('actions' , {id: (account.tasks | last).id}  ) }}"><span class="glyphicon glyphicon-eye-open"/> Детали</a></p>
                                </div>
                            </div>

                            {% else %}
                                <h3>Ваша история заданий пуста =( </h3>
                            {% endif %}

                        </div>

                        <div class="tab-pane" id="history{{ account.id }}">
                            {% for task in account.tasks|reverse %}
                                <div class="row">
                                    <div class="col-xs-3">
                                        {% if task.type == 0 %}
                                            <p>Подписка по ID<p>
                                        {% elseif task.type == 10 %}
                                            <p>Подписка по тэгам</p>
                                        {% elseif task.type == 20 %}
                                            <p>Подписка по списку</p>
                                        {% elseif task.type == 30 %}
                                            <p>Подписка по гео</p>
                                        {% elseif task.type == 11 %}
                                            <p>Лайкинг по тэгам</p>
                                        {% elseif task.type == 31 %}
                                            <p>Гео лайкинг</p>
                                        {% elseif task.type == 3 %}
                                            <p>Отписка</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-3 long_tags">
                                        {% if task.type in [0, 1] %}
                                            <p>{{ task.tags  }}</p>
                                        {% elseif task.type in [10, 11] %}
                                        <div class="comment more">{{ task.tags }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-1">
                                        <p>{{ task.count  }}</p>
                                    </div>
                                    <div class="col-xs-2">
                                        <p>{{ task.createdAt |date("h:i d/m/Y") }}</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <p><a href="{{ path('actions' , {id: task.id}  ) }}"><span class="glyphicon glyphicon-eye-open"/></a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
                <!-- panel body end-->

            </div>
        </div>

    {% endfor %}
</div>

    <div class="row">
        <div class="col-xs-8">
            <h3>Видеоруководство</h3>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" frameborder="0"  style = "padding-top:20px; padding-bottom: 20px;" src="https://www.youtube.com/embed/tn_2vJvTpBQ" allowfullscreen></iframe>
            </div>
            <h3>Полезные советы</h3>
            <ul>
                <li>Рекомендуется совершать не более 1000 подписок/лайков и 1000 отписок за 1 день.</li>
                <li>Перед раскруткой нового аккаунта обязательно заполните его контентом и первые два дня подписывайтесь вручную.</li>
                <li>ВНИМАНИЕ! Добавление аккаунта и Добавление задания происходят в течение 10-15 минут.</li>
                <li>При возникновении ошибки проверьте аккаунт Instagram: лимит подписок составляет 7500, возможно, Вам следует отписаться.</li>
            </ul>
            <h3>Триал-версия</h3>
            <ul>
                <li>Бесплатный пробный период длится 3 дня.</li>
                <li>В триал версии одновременно можно раскручивать не более 2 аккаутов, после оплатны доступна раскрутка одновременно 5+ аккаунтов.</li>

            </ul>
            <h3>Важно знать</h3>
            <ul>
                <li>Наша цель - освободить Вас от забот, связанных с рутинной работой по продвижению в Инстаграм.</li><li>Продвижение происходит в автоматическом режиме на наших серверах, управлять раскруткой Вы можете удаленно с помощью своего смартфона, планшета или ПК.</li>
                <li>Следите за обновлениями, вносите свои предложения и замечания в <a href="https://vk.com/instastellar">группе в контакте</a>.</li>

            </ul>
        </div>
    </div>

{% endblock %}
