{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Добавление аккаунта</h1>
            </div>
            <div class="modal-body">
                <p class="modal-error" hidden="hidden">Авторизация не удалась, Вы ввели неверные данные?</p>
                {{ form_row(form.instLogin) }}
                {{ form_row(form.instPass) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <style>
        .modal-error{
            margin-bottom: 0px;
            color: red;
        }
        .loader-gif{
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
        }
    </style>

    <script>
        $( "form" ).submit(function( event ) {
            $('.btn-primary').attr('disabled','disabled');
            $('.modal-body').children().hide();
            $('.modal-body').append('<img src="/img/ajax-loader.gif" class="loader-gif">');

            postForm( function (response) {
                if(response != 1){
                    $('.modal-body').children().show();
                    $('.loader-gif').hide();
                    $('.btn-primary').removeAttr('disabled');
                    $('.modal-error').show();
                }
                else{
                    $('.modal-dialog').children().hide();
                    $('.modal-dialog').append('<p>Добавляем аккаунт, это может занять несколько минут</p>');
                    $('.modal-dialog').append('<img src="/img/ajax-loader.gif" class="loader-gif">');
                    $('form').submit();
                }
            });
            event.preventDefault();
        });

        function postForm( callback ){
            var login = $('#form_instLogin').val();
            var password = $('#form_instPass').val();
            var values = {login: login, password : password};

            $.ajax({
                type        : 'post',
                url         : "{{  path('check_login_password_account')}}" ,
                data        : values,
                success     : function(data) {
                    callback( data );}
            });
        }

    </script>
{% endblock %}
