{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <button id='add_account' onclick="submitForm()" class="btn btn-primary" >Добавить</button>

    <script>
        function submitForm() {
            var result = null;
            postForm($('form'), function (response) {
                result = (response);
                console.log(result);
                $('form').hide();
                $('#add_account').hide();
                $('.content').append('<h3 class="loading">загрузка..</h3>')
                setInterval(function(){
                    $.ajax({
                        method: "POST",
                        url: "{{ path('is_account_exist') }}?account="+result
                        })
                        .done(function( msg ) {
                            if(msg==1){
                                window.location = "{{ path('accounts') }}"
                            }

                        });
                }, 3000);
            });
        }

        function postForm( $form,callback ){
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
                console.log(field.value);
            });
            $.ajax({
                type        : 'post',
                url         : "{{  path('add_login_password_account')}}" ,
                data        : values,
                success     : function(data) {
                    callback( data );}
            });
        }


    </script>
{% endblock %}
