{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'id': 'form_login_pass'}}) }}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Добавление аккаунта</h1>
                <h5>Если аккаунт добавился некорректно, то смените пароль на такой, который не содержит знаки препинания и обязательно начинается с буквы. Затем передобавьте аккаунт в нашу систему.</h5>
            </div>
            <div class="modal-body">
                {{ form_row(form.instLogin) }}
                {{ form_row(form.instPass) }}
                {{ form_row(form.country) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <style>
        .modal-error{
            margin-bottom: 0px;
            color: red;
        }
        .loader-gif{
            width: 50px;
            height: 50px;
            display: block;
            margin: 0 auto;
        }
    </style>

    <script>
        $( document ).ready(function() {
            $('#form_login_pass').submit(function() {
                $('.modal-dialog').children().hide();
                $('.modal-dialog').append('<p>Добавляем аккаунт, это может занять несколько минут</p>');
                $('.modal-dialog').append('<img src="/img/ajax-loader.gif" class="loader-gif">');
            });
        });

    </script>
{% endblock %}
