{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>Настройки времени</h2>
            {{ form_start(formTz) }}

            <div classs="form-group" style="padding-top: 15px;">
                <label for="timezone">Временная зона:</label>
                {{ form_widget(formTz.timezone) }}
                {{ form_errors(formTz) }}
            </div>
            <input style="margin-top: 15px;" class="btn btn-success" type="submit" value="Изменить" />
            {{ form_end(formTz) }}

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(formP) }} method="POST" >
                {{ form_start(formP) }}
                <h2>Изменение пароля</h2>

                <div classs="form-group" style="padding-top: 15px;">
                    {{ form_errors(formP.current_password) }}
                    <label for="username">Текущий пароль:</label>
                    {{ form_widget(formP.current_password) }}
                </div>
                <div classs="form-group" style="padding-top: 15px;">
                    {{ form_errors(formP.plainPassword.first) }}
                    <label for="email">Пароль:</label>
                    {{ form_widget(formP.plainPassword.first) }}
                </div>
                <div classs="form-group" style="padding-top: 15px;">
                    {{ form_errors(formP.plainPassword.second) }}
                    <label for="email">Повторите пароль:</label>
                    {{ form_widget(formP.plainPassword.second) }}
                </div>
                <input style="margin-top: 15px;" class="btn btn-success" type="submit" value="Изменить" />
                {{ form_end(formP) }}
            </form>

        </div>
    </div>
{% endblock %}

